@charset "UTF-8";
.menu{
float:left;

}

.transfer{
	margin-left:700px;
	background-color:white;
	width:40%;
	border:1px solid;
	border-radius:10px;
	padding:10px;
	margin-top:20px;
	padding-bottom:20px;
	height:450px;
	
}
.h4{
	
	padding:5px;
	
}
.h2{
	text-align:center;
}



.sol{
	float:left;
	width:25%;
	margin-left:120px;
	
	
}
.sag{
	float:right;
	width:45%;
}

#islem{
	margin-left:290px;
	margin-top:180px;
	padding:3px;
}
.gonder{
	padding:7px;
	width:120px;
	margin-top:15px;
	margin-left:280px;
}
.tutar{
	margin-left:240px;
	width:200px;
	padding:5px;
	margin-top:3px;
}